Determine whether the text below is a supporting argument (Argument_for),
opposing argument (Argument_against), or none (NoArgument) regarding the topic
of "minimum_wage." Answer in the following format:

answer: <Argument_for,Argument_against, or NoArgument>
reason: <string>

Text:
"""
{{text}}
"""